<ui-view>
    <div class="col-xs-6 col-md-6">
        <div class="input-group" id="searchBox">
            <input ng-model="searchText" type="text" name="search" class="form-control" placeholder="enter text" ng-change="search(searchText)" >
            <span class="input-group-btn">
                   <button class="btn btn-primary" type="button"  ng-model="search" ng-click ="searchper(searchText)" style="width: 40px"><i style="margin-left: 0px;">search</i></button>
                        </span>
        </div>
        <table>
          
            <tbody>
                <tr ng-repeat="det in suggetions | orderBy:'-name'">
                    <td>{{det.Name}}{{det.Language}}</td>
                   
                    
                </tr>
            </tbody>
        </table>
</ui-view>
