<ui-view>
    <button type="button" class=" btn btn-info" ng-click="Logout()">Logout</button>
    <br>
    <br>
    <table class="table table-striped">
        <thead>
            <tr ng-if="alldetails.District">
                <th>District</th>
                <th>Name</th>
                <th>CountryCode</th>
                <th>Population</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="alldetails.District">
                <td>{{alldetails.District}}</td>
                <td>{{alldetails.Name}}</td>
                <td>{{alldetails.CountryCode }}</td>
                <td>{{alldetails.Population}}</td>
            </tr>
        </tbody>
        <thead>
            <tr ng-if="alldetails.Language">
                <th>CountryCode</th>
                <th>IsOfficial</th>
                <th>Language</th>
                <th>Population</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="alldetails.Language">
                <td>{{alldetails.CountryCode}}</td>
                <td>{{alldetails.IsOfficial}}</td>
                <td>{{alldetails.Language }}</td>
                <td>{{alldetails.Percentage}}</td>
            </tr>
        </tbody>
    </table>
</ui-view>
