<ui-view>

<pre>
<form name="loginform" ng-submit="checkotp(details)">
<p>Enter Your E-mail and ask for the OTP</p>
<label>First_Name<input type="text" name="First_Name" ng-model="details.email"  required>
</label><br>
<label>OTP<input type="text" name="otp" ng-model="details.otp"  ></label>

<button type="submit" class="btn btn-success" >submit</button>

<button type="button" class=" btn btn-info" ng-click="sendotp(details)" >send otp</button>
</form>
</pre>
</ui-view>