<ui-view>
<table>
    <tbody>
        <tr ng-repeat="det in datas | orderBy:'-name'">
            <td <a href="" ng-click="getdetails(det)">&nbsp;</a>{{det.Name}}{{det.Language}}</td>
        </tr>
    </tbody>
    </table>
</ui-view>
