
<ui-view>

<pre>
<form name="loginform" ng-submit="save(details)">
<center>
<label>First_Name<input type="text" name="First_Name" ng-model="details.First_Name"  required>
</label><br>
<label>Last_Name<input type="text" name="Last_Name" ng-model="details.Last_Name"  required>
</label><br>
<label>Gender<input type="text" name="Gender" ng-model="details.Gender"  required>
</label>
<br>
<label>E-mail<input type="text" name="email" ng-model="details.email"  required>
</label><br>
<label>Phone_Number<input type="text" name="Phone_Number" ng-model="details.Phone_Number"  required>
</label>
<button type="submit" class="btn btn-success" >submit</button>


</pre>
</ui-view>